.header-content {
  text-align: center;
  background-color: #d3d3d3;
  padding-top: 4px;
  padding-bottom: 4px;
}

.count {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.header-content h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header svg {
  display: block;
  width: 100%;
  height: auto;
}